%p#notice= notice
%h1= pluralize @blocks.count, 'Block'

.pull-xs-right
  = form_tag blocks_path, method: :get, class: 'form-inline' do
    .form-group
      %span.glyphicon.glyphicon-search
      = text_field_tag :query, @query, placeholder: 'Quick Query', class: 'form-control form-control-sm'
      = select_tag :operation_type, operation_types_for_select(@operation_type)
      = submit_tag :search
      &nbsp;

%p= will_paginate @blocks

%table.table.table-sm.table-striped
  %thead
    %tr
      %th= sortable_header_link_to 'Block', 'block_number'
      %th= sortable_header_link_to 'Witness', 'witness'
      %th= sortable_header_link_to 'Timestamp', 'timestamp'
      %th= sortable_header_link_to 'Transactions/Operations', 'transactions_count'
      %th{:colspan => "3"}
  %tbody
    - @blocks.each do |block|
      %tr
        %td= block.block_number
        %td= block.witness
        %td= time_ago_in_words block.timestamp
        %td
          = surround '(', ')' do
            = block.transactions.count
            \/
            = block.transactions.map(&:operations).map(&:count).sum
        %td= link_to 'Show', block
        %td= link_to 'Destroy', block, method: :delete, data: { confirm: 'Are you sure?' }

%p= will_paginate @blocks
