%p#notice= notice

%p
  Number:
  = @block.block_number
  
%p
  Witness:
  = @block.witness
  
%p
  Timestamp:
  = @block.timestamp
  
- if @block.transactions.any?
  %table
    %thead
      %tr
        %th Type
        %th Payload
    %tbody
      - @block.transactions.joins(:operations).map(&:operations).each do |transaction|
        - transaction.each do |operation|
          %tr
            %td= operation.steem_type
            %td
              %code
                - payload = operation.payload.keys.map do |key|
                  - value = operation.payload[key]
                  - if value.respond_to? :to_json
                    - value = value.to_json
                  - "#{key}: #{value}"
                = payload.join(', ')
- else
  No transactions/operations
  
= link_to 'Back', :back
